.DogCard {
  color: white;
  background-color: gray;
  font-weight: bold;
  border: 1px solid;
  box-shadow: 10px 10px #373636
}
.cardTitle {
  font-size: 50px;
  padding: 35px 35px 10px 35px;
}
.cardText {
  padding: 10px;
}
Button {
  margin-top: 15px;
}
.dogEmojis {
  font-size: 25px;
}
